<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hzqing.com.admin.mapper.system.ButtonMapper">
  <resultMap id="BaseResultMap" type="hzqing.com.admin.entity.system.Button">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
    <result column="enabled" jdbcType="CHAR" property="enabled" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="attr1" jdbcType="VARCHAR" property="attr1" />
    <result column="attr2" jdbcType="VARCHAR" property="attr2" />
    <result column="attr3" jdbcType="VARCHAR" property="attr3" />
    <result column="attr4" jdbcType="VARCHAR" property="attr4" />
    <result column="attr5" jdbcType="VARCHAR" property="attr5" />
  </resultMap>
  <!--根据角色id，获取资源的路径-->
  <select id="getResPathByRoleIds" resultType="string" parameterType="string">
    SELECT b.path
    FROM sys_button b
    LEFT JOIN rl_role_resource r ON b.id = r.resource_id
    WHERE r.resource_type = 'button'
    AND b.enabled = '1'
    AND find_in_set(r.role_id ,#{ids})
  </select>
</mapper>