<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hzqing.com.admin.mapper.system.DictMapper">
  <resultMap id="BaseResultMap" type="hzqing.com.admin.entity.system.Dict">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="dict_name" jdbcType="VARCHAR" property="dictName" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="dict_type" jdbcType="VARCHAR" property="dictType" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="enabled" jdbcType="CHAR" property="enabled" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="attr1" jdbcType="VARCHAR" property="attr1" />
    <result column="attr2" jdbcType="VARCHAR" property="attr2" />
    <result column="attr3" jdbcType="VARCHAR" property="attr3" />
    <result column="attr4" jdbcType="VARCHAR" property="attr4" />
    <result column="attr5" jdbcType="VARCHAR" property="attr5" />
  </resultMap>
    <sql id="table">
        sys_dict
    </sql>
    <sql id="field">
        id,
        dict_name,
        parent_id,
        dict_type,
        code,
        enabled,
        note,
        attr1,
        attr2,
        attr3,
        attr4,
        attr5
    </sql>
    <sql id="fieldValue">
        #{id},
        #{dictName},
        #{parentId},
        #{dictType},
        #{code},
        #{enabled},
        #{note},
        #{attr1},
        #{attr2},
        #{attr3},
        #{attr4},
        #{attr5}
    </sql>
    <select id="getDictByPCode" parameterType="string" resultMap="BaseResultMap">
        SELECT
        <include refid="field" />
        FROM
        <include refid="table" />
        where
        parent_id = (SELECT id FROM sys_dict WHERE code = #{code})
        AND enabled = '1'
    </select>
</mapper>