<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hzqing.com.admin.mapper.system.LogMapper">
  <resultMap id="BaseResultMap" type="hzqing.com.admin.entity.system.Log">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="opt_path" jdbcType="VARCHAR" property="optPath" />
    <result column="opt_type" jdbcType="VARCHAR" property="optType" />
    <result column="opt_time" jdbcType="DATE" property="optTime" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
</mapper>