<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hzqing.com.admin.mapper.system.RoleMapper" >
  <resultMap id="BaseResultMap" type="hzqing.com.admin.entity.system.Role" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="role_code" property="roleCode" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="enabled" property="enabled" jdbcType="CHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="attr1" property="attr1" jdbcType="VARCHAR" />
    <result column="attr2" property="attr2" jdbcType="VARCHAR" />
    <result column="attr3" property="attr3" jdbcType="VARCHAR" />
    <result column="attr4" property="attr4" jdbcType="VARCHAR" />
    <result column="attr5" property="attr5" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteRoleMenuButtonByRid" parameterType="map">
    DELETE  FROM  rl_role_resource WHERE role_id = #{roleId} AND resource_type = #{resourceType}
  </delete>
  <insert id="addBatchRoleMenuButton" parameterType="list">
    INSERT  INTO  rl_role_resource (id, role_id, resource_id, resource_type, note) VALUES
    <foreach collection="list" item="item" separator=",">
      (
      (SELECT replace((SELECT uuid()),"-","")),
      #{item.roleId},
      #{item.resId},
      #{item.resType},
      null
      )
    </foreach>
  </insert>
  <select id="getRoleByUserId" parameterType="string" resultMap="BaseResultMap">
    SELECT
      r.*
    FROM
      sys_role r
    LEFT JOIN rl_user_role s ON r.id = s.role_id
    WHERE s.user_id = #{0}
  </select>
</mapper>