:root{
    --hzq-nav-moblie-disply:none;
    --hzq-nav-web-disply:block;
    --hzq-nav-web-menus:110px;
    --hzq-nav-web-headers:200px;


    //  全局
    --hzq-font-size:14px;
    --hzq-see-font-size:13px;
    --hzq-h3-font-size:20px;
}

.hzq_main{
    margin: auto
}

@media all and (min-width:768px) {
    :root{
    }
    h2{
        font-size: 20px;
    }
    .detail-comment-textarea{
        width: 94%;
    }
}
  
@media all and (min-width:992px) {
}
@media all and (min-width:1000) {
    :root {
    }
}
@media all and (min-width:1280px) {
    :root {
        
    }

}
  
@media all and (min-width:1400px) {
    .hzq_main{
        width: 1200px;
    }
}
@media all and (min-width:1920px) {
}
// ----------------------------------------------------------------------------------------------------------------------------------------------------------------
@media all and (max-width:1920px) { 
  
}
@media all and (max-width:1400px){

    :root {
    }
    h2{
      font-size: 15px;
    } 
    .detail-comment-textarea{
      width: 90%;
    }

}
@media all and (max-width:1399px) { 
    .hzq_main{
        margin: 0% 7%;
    }
}
@media all and (max-width:1280px) {
    :root{
    }
}
@media all and (max-width:992px) { 
    :root{
        --hzq-nav-web-menus:90px;
        --hzq-nav-web-headers:150px;
    }
}
@media all and (max-width:768px){
    :root {
        --hzq-nav-moblie-disply:block;
        --hzq-nav-web-disply:none;
        
        --hzq-h3-font-size:15px;
        --hzq-see-font-size:12px;
        --hzq-font-size:13px;
    }
    .detail-comment-textarea{
        width: 85%;
    }
    .see_time_text  span{
        padding-right:5px;
    }
}
@media all and (max-width: 650px) {
}
@media all and (max-width: 500px) {
}








