#query{
    padding: 0px 0px 15px 0px; 
}

.system-table{
    border: 1px solid #ebeef5;
    border-bottom: none;
}
.el-table td, .el-table th{
    padding: 10px 0;
}
.pagination-container{
    padding: 15px 0px 0px 0px; 
}