<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzqing.system.mapper.MenuMapper">

    <resultMap id="baseResult" type="menu">
        <result column="menu_id" property="menuId"/>
        <result column="menu_name" property="menuName"/>
        <result column="parent_id" property="parentId"/>
        <result column="menu_sort" property="menuSort"/>
        <result column="menu_type" property="menuType"/>
        <result column="enabled" property="enabled"/>
        <result column="icon" property="icon"/>
        <result column="remark" property="remark"/>
        <result column="permission" property="permission"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="selectMenu">
        SELECT
            menu_id,
            menu_name,
            parent_id,
            menu_sort,
            menu_type,
            enabled,
            icon,
            remark,
            permission,
            create_by,
            create_time,
            update_by,
            update_time
        FROM
            sys_menu
    </sql>

    <select id="selectTableList" resultMap="baseResult" parameterType="menu">
        <include refid="selectMenu"/>
        <where>
            <if test="menuName != null and menuName != ''">
                menu_name LIKE  '%' + ${menuName}+ '%'
            </if>
            <if test="parentId != null and parentId != ''">
                AND  parent_id = #{parentId}
            </if>
        </where>

    </select>

    <insert id="insertMenu" parameterType="menu" >
        INSERT INTO sys_menu (
            menu_id,
            menu_name,
            parent_id,
            menu_sort,
            menu_type,
            enabled,
            icon,
            remark,
            permission,
            create_by,
            create_time,
            update_by,
            update_time
        ) VALUE (
            #{menuId},
            #{menuName},
            #{parentId},
            #{menuSort},
            #{menuType},
            #{enabled},
            #{icon},
            #{remark},
            #{permission},
            #{createBy},
            #{createTime},
            #{updateBy},
            #{updateTime}
        )
    </insert>

    <select id="selectMenuById" parameterType="string" resultMap="baseResult">
        <include refid="selectMenu" />
        WHERE

    </select>

    <delete id="deleteMenuById" parameterType="string">
      DELETE FROM sys_menu
      WHERE menu_id = #{0}
    </delete>

    <update id="updateMenu" parameterType="menu">
        UPDATE sys_menu
        <set>
            <if test="menuName != null and menuName != ''">menu_name = #{menuName},</if>
            <if test="menuSort != null">menu_sort = #{menuSort},</if>
            <if test="menuType != null and menuType != ''">menu_type = #{menuType},</if>
            <if test="enabled != null and enabled != ''">enabled = #{enabled},</if>
            <if test="icon != null and icon != ''">icon = #{icon},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="permission != null and permission != ''">permission = #{permission}</if>
        </set>
        WHERE menu_id = #{menuId}
    </update>
</mapper>